*.o
*.la
*.lo
.deps
.libs
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
Makefile
Makefile.in
include/libsol10-compat/libsol10-compat-config.h
install-sh
libsol10-compat.pc
libtool
ltmain.sh
m4/*.m4
missing
stamp-h1
util/libsol10_compat_patch_pkgsrc
